.wrapper {
  padding: 10px;
  margin: 0 0 10px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.5rem;

  border-radius: 10px;
}

.hover-color-meat,
.hover-color-veg,
.hover-color-fruit {
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s all;
}

.hover-color-meat:hover {
  background-color: rgba(173, 4, 72, 0.5);
}

.hover-color-veg:hover {
  background-color: rgba(16, 66, 119, 0.5);
}

.hover-color-fruit:hover {
  background-color: rgba(255, 100, 0, 0.5);
}

.product-name {
  width: 100%;
  font-size: 1.5rem;
}

.info-panel {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.price h2 {
  margin: 0;
  padding: 0;
}

.price p {
  margin: 5px 0;

  font-size: 0.8rem;
}
