.wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.nav {
  margin-bottom: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 10px;
  align-items: center;
}

.nav ul li {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  cursor: pointer;
}

.btn-active {
  background-color: rgba(99, 6, 32, 0.5) !important;
  color: rgb(255, 255, 255);
}

.btn-menu:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(99, 6, 32);
}

.btn-meat:hover {
  background-color: rgba(173, 4, 72, 0.5);
}

.btn-veg:hover {
  background-color: rgba(16, 66, 119, 0.5);
}

.btn-fruit:hover {
  background-color: rgba(255, 100, 0, 0.5);
}
