.wrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-price {
  margin: 5px 0;
  width: 60%;
  display: flex;
}

.input-price-amount {
  flex: 4;
  margin: 0 10px 0 0;
}

.input-price-amount input {
  width: 95%;
}

.input-price-unit {
  flex: 1;
  margin-right: 20px;
}

.input {
  margin: 5px 0;
  width: 100%;
}

.btn-meat,
.btn-veg,
.btn-fruit {
  width: 150px;
  height: 50px;
  font-family: var(--font-comfortaa);
  color: white;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: none;
  margin: 20px 0 0 0;
  cursor: pointer;
  transition: all 1s;
}

.input-field-meat:hover,
.btn-meat:hover {
  background-color: rgba(173, 4, 72, 0.5);
}

.input-field-veg:hover,
.btn-veg:hover {
  background-color: rgba(16, 66, 119, 0.5);
}

.input-field-fruit:hover,
.btn-fruit:hover {
  background-color: rgba(255, 100, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .input-price-amount input {
    width: 100px;
  }

  .input-price-unit select {
    width: 75px;
  }

  .btn-meat,
  .btn-veg,
  .btn-fruit {
    margin: 20px 0;
  }
}
